name: Compilar APK desde ZIP
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Descargar mi codigo
        uses: actions/checkout@v4

      - name: Descomprimir proyecto
        run: unzip CursorOverlay.zip

      - name: Configurar Java
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Dar permisos
        run: chmod +x gradlew
        continue-on-error: true # Por si el zip no tiene el archivo gradlew fuera

      - name: Compilar APK
        run: ./gradlew assembleDebug

      - name: Subir Resultado
        uses: actions/upload-artifact@v4
        with:
          name: App-Compilada
          path: "**/*.apk" # Busca cualquier APK que se haya creado
