name: Compilar APK CineCian
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Instalar Herramientas
        run: |
          sudo apt-get install unzip
          unzip www.zip -d www
          npm install -g cordova
      - name: Construir Android
        run: |
          cordova platform add android
          cordova build android --debug
      - name: Subir Resultado
        uses: actions/upload-artifact@v4
        with:
          name: App_CineCian_Lista
          path: platforms/android/app/build/outputs/apk/debug/app-debug.apk
